<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Natours | Exciting tours for adventurous people" %></title>
    <%= stylesheet_link_tag "stylesheets/site.css" %>
    <%= javascript_include_tag "site" %>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <%# <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> %>
  </body>
</html>
